{% extends "lead_dashboard.html" %}

{% block content %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Dashboard</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ url_for( 'dashboard' ) }}">Submit New Code</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for( 'new_project' ) }}">New Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for( 'previous_computations' ) }}">View Previous Computations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for( 'help' ) }}">Help</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <p> Enter Your Code Here: </p>

            <form method="POST" action="http://localhost:5000/submit_code">
            <link rel="stylesheet" href="../static/codemirror-5.52.2/lib/codemirror.css">
            <link rel="stylesheet" href="../static/codemirror-5.52.2/theme/oceanic-next.css">
            <script src="../static/codemirror-5.52.2/lib/codemirror.js"></script>
            <script src="../static/codemirror-5.52.2/mode/python/python.js"></script>
            <textarea id="code" name = "code" style="display: none;"></textarea>
            <script type="text/javascript">
                var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
                    mode: {name: "python",
                           version: 3,
                           singleLineStringErrors: false},
                    smartIndent: true,
                    indentWithTabs: true,
                    lineNumbers: true,
                    styleActiveLine: true,
                    matchBrackets: true
                });
                var theme = "oceanic-next";
                editor.setOption("theme", theme);
            </script>
            <br>
            <input type="submit" value="Submit">
            </form>

            <br>
            <br>
            <br>
            <button type="button" onclick="window.location.href='{{ url_for( 'hello_world' ) }}';">Dummy Test for helloworld.py</button>

            <br>
            <br>

{% endblock %}
