{% extends "layout.html" %}

{% block content %}

    <h1 style="text-align:center">Ecoforecast</h1>

    <br/>

    <h2 style="text-align:center">Cyber Infrasturcture for Researchers</h2>

    <br/>

    <div style="text-align:center">

        <form method="POST" action="/dashboard">
            <p style="text-align:center">Username   {{ form.username }}</p>

            <br/>

            <p style="text-align:center">Password   {{ form.password }}</p>

            {{ form.hidden_tag() }}

            <br/>

            <br/>

            <button type="button" onclick="window.location.href='{{ url_for( 'dashboard' ) }}';">Login</button>

            <button type="button" onclick="window.location.href='{{ url_for( 'register' ) }}';">Register</button>

        </form>

        <br/>

        <button type="button" onclick="window.location.href='{{ url_for( 'register' ) }}';">Forget your password?</button>

    </div>

{% endblock %}